* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: #d9dcd6;
}

button {
    padding: 4px;
    background-color: rgb(153, 144, 144);
}

.header {
    padding: 5px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #013853;
    color: #ffffff;
}

.header h1 {
    display: inline-block;
    font-size: 48px;
}

h1 {
    padding: 0;
    margin: 0 0 0.6em;
    color: inherit;
    font-weight: 900;
    font-size: ;

}

.header div {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}

.header div ul {
    list-style-type: none;
}

.header div ul li {
    display: inline-block;
    margin-left: 25px;
}

.align-center {
    text-align: center;
}

.block-center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.subtitle {
    max-width: 560px;
    margin-top: 0.4em;
}

a {
    color: #ffffff;
    text-decoration: none;
}

p {
    font-size: 16px;
}

.projects {
    text-align: center;
}

.hero {
    height: 800px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("../images/digital-marketing-meeting.jpg");
    background-size: cover;
    background-position: center;
}

.float-left {
    float: left;
    margin-right: 25px;
    width: 150px;
    height: 150px;

}

.float-right {
    float: right;
    margin-left: 25px;
    width: 150px;
    height: 150px;
}

.content {
    width: 75%;
    display: inline-block;
    margin-left: 20px;
}

.footer {
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}

.footer h2 {
    font-size: 20px;
}

#sec1 {
    padding: 16px;
}
